  <div class="p-3 contactContainer">
    <div class="row justify-content-center">
    <% contactGroups.forEach((group) => { %>
      <div class="col-xs-2 text-center p-2 contact-group">
        <h2 class="lead contact-label">
          <%= group.name %>
        </h2>
        <ul class="list-group contact-list">
          <% group.contacts.forEach((contact) => { %>
            <li class="list-group-item text-left"><strong><%= contact.name %></strong> <span class="float-right"><%= contact.ext %></span></li>
          <% }); %>
        </ul>
      </div><!-- .contact-group -->
    <% }); %>
    </div>
  </div><!-- .contactContainer -->
